name: recruiting-digest


on:
schedule:
- cron: "0 14 * * MON" # Mondays 14:00 UTC
workflow_dispatch: {}


jobs:
build:
runs-on: ubuntu-latest


steps:
- name: Checkout
uses: actions/checkout@v3


- name: Set up Python
uses: actions/setup-python@v4
with:
python-version: '3.10'


- name: Install dependencies
run: |
pip install -r requirements.txt


- name: Run digest
env:
SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
run: |
python digest_bot.py
